*{
  margin: 0px;
  padding: 0px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}
.App{
  margin-top: 100px;
  padding: 50px;
  
}
.display{
  border: 1px solid black;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 20px;
  padding: 50px;
}
.display > h2,h3{
  margin-top: 10px;
  color: aliceblue;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.name{
  color: bisque;
}
.userInf{
  color: bisque;
}
.btn{
  width: 50px;
  height: 40px;
}